<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banned</title>
    <link rel="stylesheet" href="/static/styles/banned.css">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <h1>Account Banned</h1>
            <p>Dear <span class="username">{{username}}</span>,</p>
            <p>Your account has been banned due to violations of our terms of service.</p>
            <p>If you believe this is a mistake, you can contact our admin team for further assistance.</p>
            <p>If you believe this is a mistake, you can contact our admin team for further assistance.</p>
            <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=saini.sarthak0505@gmail.com&su=Account%20Ban%20Appeal" target="_blank">Click here</a> to write an apology letter.</p>
            <p><a href="/logout">Go back</a></p>
        </div>
    </div>
</body>
</html>
