<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/site_logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/styles/profile_edit_page.css">
    <title>{{username}} - Edit Profile</title>
</head>

<body>
    <div class="main_div">
        <header id="head1" class="navbar_head">
            <nav id="nav1" class="navbar">
                <a href="/"><img src="/static/imageedit_9_7708440648.png" alt="logo" class="logo"></a>
                <ul class="nav_list">
                    <li id="explore_div">
                        Explore
                        <span class="material-symbols-outlined explore_arrow">keyboard_arrow_down</span>
                    </li>
                    <div class="explore_overlay" style="display: none;">
                        <ul class="explore_overlay_ul">
                            <li class="explore_sponsors_li" onclick="window.location.href='/all_sponsors'">
                                <a href="/all_sponsors" class="explore_sponsors_anchor">
                                    <span class="explore_sponsors_heading">Sponsors</span>
                                    <span class="explore_sponsors_desc">View all sponsors on Sparked</span>
                                </a>
                            </li>
                            <li class="explore_niche_li" onclick="window.location.href='/all_influencers'">
                                <a href="/all_influencers" class="explore_sponsors_anchor">
                                    <span class="explore_sponsors_heading">Niches</span>
                                    <span class="explore_sponsors_desc">Explore influencers with different niches</span>
                                </a>
                            </li>
                            <li class="explore_campaigns_li" onclick="window.location.href='/all_campaigns'">
                                <a href="/all_campaigns" class="explore_sponsors_anchor">
                                    <span class="explore_sponsors_heading">Campaigns</span>
                                    <span class="explore_sponsors_desc">Pick a campaign that fits your tastes</span>
                                </a>
                            </li>
                            <li class="explore_profile_maker_li" onclick="window.location.href='/signup_choose'">
                                <a href="/signup_choose" class="explore_sponsors_anchor">
                                    <span class="explore_sponsors_heading">Profile Maker</span>
                                    <span class="explore_sponsors_desc">Build your own custom profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <li><a href="#" class="nav_list_anchors become_sponsor">Become a Sponsor</a></li>
                    <li class="profile_pic_li">
                        <div class="profile_pic_div_nav">
                            <img src="{{inf.profile_pic}}" alt="profile_pic" class="profile_pic_nav">
                        </div>
                    </li>
                    <div class="profile_overlay" style="display: none;">
                        <ul class="profile_overlay_ul">
                            <li class="profile_overlay_li"
                                onclick="window.location.href='/influencer/{{get_username(inf.inf_id)}}/personal/profile'">
                                <a href="/influencer/{{get_username(inf.inf_id)}}/personal/profile"
                                    class="profile_overlay_anchor">
                                    <span class="profile_overlay_heading">Profile</span>
                                </a>
                            </li>
                            <li class="profile_overlay_li" onclick="window.location.href='#'">
                                <a href="#" class="profile_overlay_anchor">
                                    <span class="profile_overlay_heading">Activity</span>
                                </a>
                            </li>
                            <li class="profile_overlay_li" onclick="window.location.href='/logout'">
                                <a href="/logout" class="profile_overlay_anchor">
                                    <span class="profile_overlay_heading">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </header>
        <div class="black_overlay"></div>
        <div class="image_upload">
            <div class="account_details_heading">
                <h4 class="upload_head">Enter URL for your image</h4>
            </div>
            <form action="/influencer/{{username}}/upload/profile_pic" method="POST" id="img_url_form">
                <div class="form_field url_div">
                    <label for="image_url" class="form_label">Image Url</label>
                    <input type="text" name="image_url" id="image_url" class="url_input" required>
                </div>
                <div class="submit_button url_submit">
                    <input type="submit" value="Upload" class="submit">
                </div>
            </form>
        </div>
        <div class="content">
            <div class="profile_picture_edit_div">
                <div class="profile_pic_heading">
                    <h4>Profile Picture</h4>
                </div>
                <div class="picture_with_button">
                    <div class="profile_pic_div">
                        <img src="{{inf.profile_pic}}" alt="" class="profile_pic">
                    </div>
                    <div class="picture_edit_button" onclick="upload_overlay_trigger()">Upload new image</div>
                </div>
            </div>
            <div class="account_details_password">
                <div class="account_details">
                    <div class="account_details_heading">
                        <h4>Account Details</h4>
                    </div>
                    <div class="edit_form">
                        <form action="/influencer/{{username}}/profile/edit" method="POST">
                            <div class="form_field input_extreme_left username_div">
                                <label for="username" class="form_label">Username (you will be logged out)</label>
                                <input type="text" name="username" id="username" class="form_input"
                                    value="{{get_username(inf.inf_id)}}" required>
                            </div>
                            <div class="form_names input_extreme_left">
                                <div class="form_field input_side_width">
                                    <label for="first_name" class="form_label">First Name</label>
                                    <input type="text" name="first_name" id="first_name" class="form_input"
                                        value="{{first_name}}" required>
                                </div>
                                <div class="form_field input_side_width input_extreme_right">
                                    <label for="last_name" class="form_label">Last Name</label>
                                    <input type="text" name="last_name" id="last_name" class="form_input"
                                        value="{{last_name}}" required>
                                </div>
                            </div>
                            <div class="country_gender input_extreme_left">
                                <div class="form_field gender_drop_down">
                                    <label for="gender" class="form_label">Gender</label>
                                    <select name="gender" id="gender" class="form_input" required>
                                        <option value="Male" {% if inf.gender=="Male" %} selected {% endif %}>Male
                                        </option>
                                        <option value="Female" {% if inf.gender=="Female" %} selected {% endif %}>Female
                                        </option>
                                        <option value="Other" {% if inf.gender=="Other" %} selected {% endif %}>Other
                                        </option>
                                    </select>
                                </div>
                                <div class="form_field country_div">
                                    <label for="country" class="form_label">Country</label>
                                    <input type="text" name="country" id="country" class="form_input"
                                        value="{{inf.country}}" required>
                                </div>
                            </div>
                            <div class="submit_button">
                                <input type="submit" value="Save changes" class="submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="edit_password">
                    <div class="edit_password_heading">
                        <h4>Change Password</h4>
                        <p>(you will be logged out)</p>
                    </div>
                    <div class="password_form">
                        <form action="/influencer/{{username}}/password/edit" method="POST" id="password_edit_form">
                            <div class="form_field input_extreme_left">
                                <label for="current_password" class="form_label">Current Password</label>
                                <input type="password" name="current_password" id="current_password" class="form_input"
                                    required>
                            </div>
                            <div class="form_field input_extreme_left">
                                <label for="new_password" class="form_label">New Password</label>
                                <input type="password" name="new_password" id="new_password" class="form_input"
                                    required>
                            </div>
                            <div class="form_field input_extreme_left">
                                <label for="confirm_password" class="form_label">Confirm Password</label>
                                <input type="password" name="confirm_password" id="confirm_password" class="form_input"
                                    required>
                            </div>
                            <div class="submit_button">
                                <input type="submit" value="Save changes" class="password_submit" id="submit_button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts/profile_edit_page.js"></script>
</body>

</html>