body {
    margin: 0;
    padding: 0;
}

.main_div {
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    margin-top: 2.7px;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

/* .content::-webkit-scrollbar {
    display: none;
} */

nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 23px;
}

.nav_list_anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    /* color: white; */
    padding: 13px;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
}

.nav_list_anchors:hover {
    text-decoration: underline;
}

#explore_div {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* margin-top: -2px; */
    text-decoration: none;
    /* color: white; */
    padding: 13px;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    user-select: none;
}

#explore_div:hover {
    cursor: pointer;
    text-decoration: none;
}

.explore_arrow {
    font-variation-settings:
        'FILL' 1,
        'wght' 250,
        'GRAD' 0,
        'opsz' 20 !important;
    font-size: 23px !important;
    user-select: none;
    transition: transform 0.15s ease-in-out;
}

.explore_overlay {
    z-index: 5;
    position: fixed;
    height: auto;
    width: 344px;
    /* width: 354px; */
    margin-top: 21em;
    margin-left: -2em;
    margin-left: 2px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
    /* padding: 15px; */
}

.explore_overlay_ul {
    width: 100%;
    padding: 0;
}

.explore_overlay_ul:hover {
    cursor: pointer;
}

.explore_sponsors_li {
    padding: 15px;
}

.explore_sponsors_li:hover {
    background-color: #F5F5F5;
}

.explore_niche_li {
    padding: 15px;
}

.explore_niche_li:hover {
    background-color: #F5F5F5;
}

.explore_campaigns_li {
    padding: 15px;
}

.explore_campaigns_li:hover {
    background-color: #F5F5F5;
}

.explore_profile_maker_li {
    padding: 15px;
}

.explore_profile_maker_li:hover {
    background-color: #F5F5F5;
}

.explore_sponsors_anchor {
    display: flex !important;
    flex-direction: column !important;
}

.explore_sponsors_heading {
    font-family: 'Ubuntu', serif;
    color: #404145;
    font-weight: 800;
}

.explore_sponsors_desc {
    font-family: 'Ubuntu', serif;
    font-size: 15px;
    color: #404145;
    margin-top: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

.profile_pic_li {
    margin-left: 5px;
}

.profile_pic_div_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 148px;
    overflow: hidden;
    border: 1px solid #bdc0c5;
}


.profile_pic_nav {
    width: auto;
    height: 100%;
}

.profile_pic_div_nav:hover {
    cursor: pointer;
}

.profile_overlay {
    z-index: 5;
    position: fixed;
    height: auto;
    width: 150px;
    margin-top: 14em;
    margin-left: 11.5em;
    margin-left: 148px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
}

.profile_overlay_ul {
    width: 100%;
    padding: 0;
}

.profile_overlay_ul:hover {
    cursor: pointer;
}

.profile_overlay_li {
    padding: 15px;
}

.profile_overlay_li:hover {
    background-color: #F5F5F5;
}

.profile_overlay_anchor {
    display: flex !important;
    flex-direction: column !important;
}

.profile_overlay_heading {
    font-family: 'Poppins', serif;
    color: #404145;
    font-weight: 900;
}

.logo {
    width: 275px;
    height: 75px;
    margin-top: 2px;
}

.nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 9em;
}

.navbar_head {
    /* border: 3.5px solid transparent; */
    background-color: #fff;
    width: 100%;
    height: 73px;
    margin-top: -5px;
    /* margin-left: -3px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e5e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 55vh;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
}

.campaign_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    margin-left: 15px;
    background-color: white;
    border-radius: 7px;
    border-bottom: 1px solid #e4e5e7;
}


.fonts {
    font-family: 'Ubuntu', serif;
    font-size: 35px;
    letter-spacing: 0.6px;
    padding-left: 15px;
    padding-right: 12px;
}

.name span {
    font-family: 'Poppins', serif;
    font-size: 17px;
    color: #62646A;
    letter-spacing: 0.6px;
}

.task_heading {
    font-size: 22px;
    font-family: 'Ubuntu', serif;
    font-weight: 500;
}

.description {
    font-size: 21px;
    color: #62646A;
    margin-top: 0px;
    font-family: 'Open Sans', serif;
    font-weight: 500;
}

.requirements {
    font-size: 21px;
    font-family: 'Ubuntu', serif;
    font-weight: 500;
}

ol {
    margin-top: 0px;
}

.requirements_li {
    font-size: 18px;
    font-family: 'Open Sans', serif;
    font-weight: 500;
}

.to_from {
    font-size: 20px;
}

.to_from span {
    text-decoration: underline;
    color: #555;
    font-weight: 500;
    font-size: 19px;
    font-family: 'Open Sans', serif;
}

.company_logo_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.company_logo {
    width: auto;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.company_name {
    font-size: 21px;
}

.company_name span {
    color: #555;
    /* font-weight: 700; */
    font-size: 19.5px;
    font-family: 'Ubuntu', serif;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: auto;
    background-color: white;
    user-select: none;
    -webkit-user-drag: none;
}

.imgContainer:hover {
    cursor: pointer;
}

.popular_ads_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-right: 15px;
    background-color: white;
    border-radius: 7px;
    padding: 15px;
}

.popular_heading {
    font-size: 21px;
    padding-left: 5px;
}

.popular_ads_all_divs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    /* border-right: 1px solid #62646A;
    border-left: 1px solid #62646A;
    border-top: 1px solid #62646A; */
}

.popular_ad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
    height: fit-content;
    margin-right: 15px;
    background-color: #f7f7f7;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 11px;
    border-bottom: 1px solid #afacac;
}

.popular_ad:hover {
    cursor: pointer;
}


.popular_ad_heading {
    font-size: 18px;
    font-family: 'Ubuntu', serif;
    letter-spacing: 0.7px;
    color: #505050;
}

.popular_ad_payment {
    font-size: 16.5px;
    font-family: 'Poppins', serif;
    letter-spacing: 0.6px;
}



.edit_operations {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    margin-top: -6px;
    margin-bottom: 25px;
}


.edit_icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 18.5px;
    margin-right: 3px;
}


.edit_campaign,
.delete_campaign {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', serif;
    font-size: 16px;
    height: 36px;
    width: 96px;
    border-radius: 22px;

}

.delete_icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 18.5px;
}

.edit_campaign {
    display: flex;
    align-items: center;
    border: 1px solid green;
}

.edit_campaign:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.delete_campaign {
    display: flex;
    align-items: center;
    margin-left: 30px;
    border: 1px solid red;
}

.delete_campaign:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}






.recommended_influencers {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #afacac;
    margin-top: 75px;
}

.recom_heading {
    margin-top: 40px;
}

.recom_heading {
    font-family: 'Ubuntu', serif;
    font-size: 30px;
    letter-spacing: 0.7px;
    margin-left: 10px;
}

.influencers_all_divs {
    display: flex;
    flex-direction: row;
    width: 105%;
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}

.influencer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 48px;
    margin-bottom: 20px;
}

.infl_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 17rem;
    background-color: white;
    border-radius: 148px;
    overflow: hidden;
}

.infl_image:hover {
    cursor: pointer;
}

.influencer_image {
    width: auto;
    height: 100%;
}

.infl_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -32px;
}

.infleuncer_contracts_compl {
    margin-left: 3.5px;
}

.influencer_name {
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    letter-spacing: 0.7px;
}

.influencer_name:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
}

.influencer_rating {
    font-family: 'Poppins', serif;
    font-size: 15px;
}

.infleuncer_contracts_compl {
    font-family: 'Poppins', serif;
    font-size: 15px;
    color: #74767e;
}

.symbol_margin {
    margin-top: 0.2px;
    margin-right: 2px;
}



.accept_reject {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 38px;
}

.negotiate_button_divs {
    height: fit-content;
    width: 6%;
}

.negotiate_buttons {
    font-family: 'Ubuntu', serif;
    font-size: 14px;
    height: 37px;
    width: 92%;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}


.request {
    border: 2px solid grey;
    color: grey;
    background-color: white;
}

.request:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.negotiate {
    border: 2px solid #f8b539;
    color: #ff8c00;
    background-color: white;
}

.negotiate:hover {
    cursor: pointer;
    background-color: #f8b539;
    color: white;
}

.reject {
    border: 2px solid rgb(235, 76, 36);
    color: crimson;
    background-color: white;
}

.reject:hover {
    cursor: pointer;
    background-color: rgb(235, 76, 36);
    color: white;
}


.negot_window {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 20%;
    background-color: white;
    margin: 18em;
    margin-top: 26em;
    border-radius: 5px;
    border: 1px solid #e4e5e7;
    display: none;
}

.negotiate_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


form {
    width: 100%;
    padding: 12px;
}

.form_field label {
    font-family: 'Open Sans', serif;
    display: block;
    font-size: 15px;
    color: #2c3e50;
}

.form_field input,
.form_field textarea {
    width: 90%;
    font-size: 13.5px;
    padding: 13px;
    letter-spacing: 0.4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'Ubuntu', serif;
    box-sizing: border-box;
}

.msg_field{
    margin-top: 5px;
}

.form_field input:hover, .form_field textarea:hover {
    border: 1px solid #fa8131;
}

.form_field input:focus, .form_field textarea:focus {
    border: 1px solid #fa8131;
    outline: none;
}

.form_field textarea {
    height: 70px;
    max-width: 90%;
    max-height: 150px;
    min-width: 90%;
    min-height: 45px;
}

.form_field input {
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.submit_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 25%;
    border-radius: 4px;
    font-family: 'Ubuntu', serif;
    background-color: #fa8131;
    margin-top: 2px;
    color: white;
    font-size: 15px;
    border: 2px solid rgb(250, 129, 49);
}

.submit_button:hover{
    cursor: pointer;
    border-color: #f56b00;
    background-color: #f56b00;
}

.submit{
    font-family: 'Ubuntu', serif;
    color: white;
    font-size: 15px;
    background: transparent;
    border: transparent;
}

.submit:hover{
    cursor: pointer;
}


.send_icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 15px;
    margin-bottom: 2.5px;
}

.completed_info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_text{
    font-family: 'Poppins', serif;
    letter-spacing: 0.6px;
}

.info_date{
    font-family: 'Poppins', serif;
    letter-spacing: 0.6px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 900;
    text-decoration: underline;
}


.info_id{
    font-family: 'Poppins', serif;
    letter-spacing: 0.6px;
    font-size: 17px;
    font-weight: 900;
    text-decoration: underline;
    margin-left: 25px;
}

















