body {
    margin: 0;
    padding: 0;
}

.main_div {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* box-sizing: border-box; */
    overflow-y: scroll;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    margin-top: 2.7px;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

/* .content::-webkit-scrollbar {
    display: none;
} */

nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 23px;
}

.nav_list_anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    /* color: white; */
    padding: 13px;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
}

.nav_list_anchors:hover {
    text-decoration: underline;
}

#explore_div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -2px;
    text-decoration: none;
    /* color: white; */
    padding: 13px;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    user-select: none;
}

#explore_div:hover {
    cursor: pointer;
    text-decoration: none;
}

.explore_arrow {
    font-variation-settings:
        'FILL' 1,
        'wght' 250,
        'GRAD' 0,
        'opsz' 20 !important;
    font-size: 23px !important;
    user-select: none;
    transition: transform 0.15s ease-in-out;
}

.explore_overlay {
    z-index: 5;
    position: fixed;
    height: auto;
    width: 344px;
    /* width: 354px; */
    margin-top: 21em;
    margin-left: -2em;
    margin-left: 2px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
    /* padding: 15px; */
}

.explore_overlay_ul {
    width: 100%;
    padding: 0;
}

.explore_overlay_ul:hover {
    cursor: pointer;
}

.explore_sponsors_li {
    padding: 15px;
}

.explore_sponsors_li:hover {
    background-color: #F5F5F5;
}

.explore_niche_li {
    padding: 15px;
}

.explore_niche_li:hover {
    background-color: #F5F5F5;
}

.explore_campaigns_li {
    padding: 15px;
}

.explore_campaigns_li:hover {
    background-color: #F5F5F5;
}

.explore_profile_maker_li {
    padding: 15px;
}

.explore_profile_maker_li:hover {
    background-color: #F5F5F5;
}

.explore_sponsors_anchor {
    display: flex !important;
    flex-direction: column !important;
}

.explore_sponsors_heading {
    font-family: 'Ubuntu', serif;
    color: #404145;
    font-weight: 800;
}

.explore_sponsors_desc {
    font-family: 'Ubuntu', serif;
    font-size: 15px;
    color: #404145;
    margin-top: 5px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

.profile_pic_li {
    margin-left: 5px;
}

.profile_pic_div_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 148px;
    overflow: hidden;
}


.profile_pic_nav {
    width: auto;
    height: 100%;
}

.profile_pic_div_nav:hover {
    cursor: pointer;
}

.profile_overlay {
    z-index: 5;
    position: fixed;
    height: auto;
    width: 150px;
    margin-top: 14em;
    margin-left: 11.5em;
    margin-left: 148px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
}

.profile_overlay_ul {
    width: 100%;
    padding: 0;
}

.profile_overlay_ul:hover {
    cursor: pointer;
}

.profile_overlay_li {
    padding: 15px;
}

.profile_overlay_li:hover {
    background-color: #F5F5F5;
}

.profile_overlay_anchor {
    display: flex !important;
    flex-direction: column !important;
}

.profile_overlay_heading {
    font-family: 'Poppins', serif;
    color: #404145;
    font-weight: 400;
}

.logo {
    width: 275px;
    height: 75px;
    margin-top: 2px;
}

.nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 9em;
}

.navbar_head {
    /* border: 3.5px solid transparent; */
    background-color: #fff;
    width: 100%;
    height: 73px;
    margin-top: -5px;
    /* margin-left: -3px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e5e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Ubuntu', serif;
    letter-spacing: 0.6px;
}



.ad_requests_div{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.trending_all_divs {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    /* margin: auto; */
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.trending_ad_div {
    height: 207px;
    width: 246px;
    margin-bottom: 23px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* box-sizing: border-box; */
    padding: 25px;
    border-radius: 7px;
    margin-right: 10px;
}

.trending_ad_div:hover {
    cursor: pointer;
}

.trending_head {
    font-family: 'Ubuntu', serif;
}

.trending_ad_heading {
    color: rgb(236, 234, 234);
    font-size: 24px;
    font-family: 'Ubuntu', serif;
    letter-spacing: 0.7px;
    z-index: 1;
}

.trending_ad_payment {
    color: gainsboro;
    font-family: 'Poppins', serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.7px;
    padding-top: 5px;
    z-index: 1;
}

.search_campaign_div{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.ongoing_all_divs {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    /* margin: auto; */
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* height: 35rem; */
    /* overflow-y: auto; */
}

.ongoing_campaign_div {
    height: 207px;
    width: 246px;
    margin-bottom: 23px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* box-sizing: border-box; */
    padding: 25px;
    border-radius: 7px;
    margin-right: 10px;
}

.ongoing_campaign_div:hover {
    cursor: pointer;
}

.ongoing_head {
    font-family: 'Ubuntu', serif;
}

.ongoing_campaign_heading {
    color: rgb(236, 234, 234);
    font-size: 26px;
    font-family: 'Ubuntu', serif;
    letter-spacing: 0.7px;
}

.ongoing_campaign_company {
    color: gainsboro;
    font-family: 'Poppins', serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.7px;
}


.search_users_div{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.user_sub_heading{
    font-size: 21px;
}

.influencers_all_divs {
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-top: 40px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.influencer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 48px;
    margin-bottom: 20px;
}

.infl_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 16rem;
    background-color: white;
    border-radius: 148px;
    overflow: hidden;
}

.infl_image:hover {
    cursor: pointer;
}

.influencer_image {
    width: auto;
    height: 100%;
}

.infl_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -32px;
}

.infleuncer_contracts_compl {
    margin-left: 3.5px;
}

.influencer_name {
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    letter-spacing: 0.7px;
}

.influencer_name:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
}

.influencer_rating {
    font-family: 'Poppins', serif;
    font-size: 15px;
    font-weight: 400;
}

.infleuncer_contracts_compl {
    font-family: 'Poppins', serif;
    font-size: 15px;
    font-weight: 400;
    color: #74767e;
}

.symbol_margin {
    margin-top: 0.2px;
    margin-right: 2px;
}


.sponsor_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 12%;
    min-width: 13.5%;
    margin-right: 48px;
    margin-bottom: 20px;
}

.sp_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 12rem;
    padding: 15px;
    border: 1px solid #d5d5d5;
    background-color: white;
    border-radius: 148px;
    overflow: hidden;
}

.sp_image:hover {
    cursor: pointer;
}

.no_entries{
    display: flex;
    align-items: center;
    height: 156px;
    width: 100%;
    margin-left: 45px;
    font-size: 20px;
    color: #5a5c5e;
}

.no_entries h3{
    font-family: 'Ubuntu', serif;
    font-weight: 400;
}












